

<!DOCTYPE html>
<html lang="en">
  <head>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="./style.css">

  </head>

    <body style="background-color: #003333 ; color: #f9f9f9" >
    <div class="container-fluid" style="text-align: center">
    		<div class="col-md-2">
            <img src="../Images/logo.png" style="width:100px;height:100px; margin: 20px">
        </div>
        <div calss="col-md-10">
        <h1>Welcome to LifeSport Store!!</h1>
    	<h2>This is the about page</h2>
    	<h3 class="myh3">Store Details</h3>
        </div>
            <hr/>


         <div class="row">
             <div class="col-sm-3">
                 <a href="index.html">Home</a>
             </div>
             <div class="col-sm-3">
                 <a href = "about.html">About</a>
             </div>
             <div class="col-sm-3">
                 <a href = "myacct.html">My Account</a>
             </div>
             <div class="col-sm-3">
                 <a href = "purchase.html">Purchase Online</a>
             </div>
        </div>

        <hr/>

        <div class="row">
        <p id="about">
            LifeSport store..
        </p>
        <h4><b>Location :</b> xyz Ave. Windsor.</h4>
        <h4><b>Shopping hours :</b> Mon -Fri : 8:00 am - 6:00 pm</h4>
        <h4><b>Services :</b> Sports Equipments,Sports clothes,etc..</h4>
        <h4><b>Promotions :</b>Get 1 sports bag free on purchase of 500 cad and more..</h4>
        </div>


    </div>
    </body>
</html>