

<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="./style.css">
  </head>

    <body style="background-color: #003333 ; color: #f9f9f9" >
    <div class="container-fluid" style="text-align: center">
    		<div class="col-md-2">
            <img src="../Images/logo.png" style="width:100px;height:100px; margin: 20px">
        </div>
        <div calss="col-md-10">
        <h1>Welcome to LifeSport Store!!</h1>
    	<h2>This is the Clothing page</h2>
    	<h3 class="myh3">Get your self dressed up!</h3>
        </div>

        <hr/>
        <div class="row">
             <div class="col-sm-3">
                 <a href="index.html">Home</a>
             </div>
             <div class="col-sm-3">
                 <a href = "about.html">About</a>
             </div>
             <div class="col-sm-3">
                 <a href = "myacct.html">My Account</a>
             </div>
             <div class="col-sm-3">
                 <a href = "purchase.html">Purchase Online</a>
             </div>
        </div>

        <hr/>



            <div class="col-md-6">
                <h4>Men Clothing</h4>
                <hr/>
                <ol type = "I">
                    <div class="col-md-2">
                    <li><a href="menclothing1.html">
                        <img src="../Images/spmen1.jpg" style="width:100px;height:120px; margin: 10px; float: right"></a>
                    </li>
                    </div>
                    <div class="col-md-2">
                    <li><a href="menclothing2.html">
                        <img src="../Images/spmen2.jpg" style="width:100px;height:120px; margin: 10px; float: right"></a>
                    </li>
                        </div>
                    <div class="col-md-2">
                    <li><a href="menclothing3.html">
                        <img src="../Images/spmen3.jpg" style="width:100px;height:120px; margin: 10px; float: right"></a>
                    </li>
                        </div>
                    <div class="col-md-2">
                   <li><a href="menclothing4.html">
                        <img src="../Images/spmen4.jpg" style="width:100px;height:120px; margin: 10px; float: right"></a>
                    </li>
                        </div>
                    <div class="col-md-2">
                    <li><a href="menclothing5.html">
                        <img src="../Images/spmen5.jpg" style="width:100px;height:120px; margin: 10px; float: right"></a>
                    </li>
                        </div>
                    <div class="col-md-2">
                   <li><a href="menclothing6.html">
                        <img src="../Images/spmen6.jpg" style="width:100px;height:120px; margin: 10px; float: right"></a>
                    </li>
                        </div>

                </ol>
            </div>
            <div class="col-md-6">
                <h4>Women Clothing</h4>
                <hr/>
                <ol type = "I">

                    <div class="col-md-2">
                    <li><a href="womenclothing1.html">
                        <img src="../Images/women1.jpg" style="width:100px;height:120px; margin: 10px; float: right"></a>
                    </li>
                        </div>
                    <div class="col-md-2">
                    <li><a href="womenclothing2.html">
                        <img src="../Images/women2.jpg" style="width:100px;height:120px; margin: 10px; float: right"></a>
                    </li>
                        </div>
                    <div class="col-md-2">
                    <li><a href="womenclothing3.html">
                        <img src="../Images/women3.jpg" style="width:100px;height:120px; margin: 10px; float: right"></a>
                    </li>
                        </div>
                    <div class="col-md-2">
                    <li><a href="womenclothing4.html">
                        <img src="../Images/women4.jpg" style="width:100px;height:120px; margin: 10px; float: right"></a>
                    </li>
                        </div>
                    <div class="col-md-2">
                   <li><a href="womenclothing5.html">
                        <img src="../Images/women5.jpg" style="width:100px;height:120px; margin: 10px; float: right"></a>
                    </li>
                        </div>
                    <div class="col-md-2">
                    <li><a href="womenclothing6.html">
                        <img src="../Images/women6.jpg" style="width:100px;height:120px; margin: 10px; float: right"></a>
                    </li>
                        </div>

                </ol>
            </div>





    </div>
    </body>
</html>