

<!DOCTYPE html>
<html lang="en">
  <head>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="./style.css">

  </head>

    <body style="background-color: #003333 ; color: #f9f9f9" >
    <div class="container-fluid" style="text-align: center">
    	<div class="col-md-2">
            <img src="../Images/logo.png" style="width:100px;height:100px; margin: 20px">
        </div>
        <div calss="col-md-10">
        <h1>Welcome to LifeSport Store!!</h1>
    	<h2>This is the home page</h2>
    	<h3 class="myh3">Get your self updated about sports..!!</h3>
         </div>
        <hr/>


         <div class="row">
             <div class="col-sm-3">
                 <a href="index.html">Home</a>
             </div>
             <div class="col-sm-3">
                 <a href = "about.html">About</a>
             </div>
             <div class="col-sm-3">
                 <a href = "myacct.html">My Account</a>
             </div>
             <div class="col-sm-3">
                 <a href = "purchase.html">Purchase Online</a>
             </div>
        </div>

        <hr/>

        <div class="row">
        <b>Color :</b> Grey <br/>
            <b>Size :</b> Medium <br>
             <b>Price :</b> 100 CAD <br>
        </div>


    </div>
    </body>
</html>