{% extends 'myapp/base.html' %}
{% block body %}


    <div class="col-md-6" style="text-align: center">
                    <h2> Category Name:{{  details.name }}  </h2>

    </div>
    <div class="col-md-6" style="text-align: center">
                    <h2>  Warehouse location :{{  details.warehouse }}  </h2>
    </div>

    <div style="text-align: center">
        {% if user.is_authenticated %}
        {% for product in product_details %}
                <tr align="center">
                    <div><a href="/myapp/products/{{product.id }}">{{ product.name }}</a></div>
                </tr>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}